<!-- <form action="/restaurants" method="post">
  <%#= hidden_field_tag :authenticity_token .... %>
  <label></label>
  <input type="text">
</form> -->
<div class="container">
  <div class="row">
    <div class="col-6">
      <%= render "form", restaurant: @restaurant %>
    </div>
  </div>
</div>
